@charset "utf-8";
.xm{background:#191919;color:#DDD}
.xm a{color:#EEE}
/* Form Control Reset */
.xm select,
.xm textarea,
.xm input[type="text"],
.xm input[type="password"],
.xm input[type="datetime"],
.xm input[type="datetime-local"],
.xm input[type="date"],
.xm input[type="month"],
.xm input[type="time"],
.xm input[type="week"],
.xm input[type="number"],
.xm input[type="email"],
.xm input[type="url"],
.xm input[type="search"],
.xm input[type="tel"],
.xm input[type="color"],
.xm input[type="file"]{color:#666}
.xm input:-moz-placeholder, 
.xm textarea:-moz-placeholder{color:#666}
.xm input:-ms-input-placeholder, 
.xm textarea:-ms-input-placeholder{color:#666}
.xm input:-webkit-input-placeholder, 
.xm textarea:-webkit-input-placeholder{color:#666}
/* Forms */
.xm .help-block,
.xm .help-inline{color:#595959}
/* Tabs */
.xm .nav>li>a{background-color:transparent;color:#DDD}
.xm .nav>li>a:hover,
.xm .nav>li>a:focus{background-color:#333333}
.xm .nav-tabs>.active>a,
.xm .nav-tabs>.active>a:hover,
.xm .nav-tabs>.active>a:focus{color:#ffffff;background-color:#555555}
/* Form */
.xm .form em{color:#FAA}
.xm .form label.overlap{color:#777}
.xm .form textarea,
.xm .form select{color:#DDD;border-color:#aaa #ccc #ccc #aaa;background:#0B0B0B}
/* Table */
.xm .table caption strong{color:#FAA}
.xm .table th{background:#0B0B0B}
.xm .table tfoot td{background:#0B0B0B}
.xm .table.even tbody tr:nth-of-type(even) td{background-color:#151515}
.xm .table em{color:#FAA}
.xm .table-striped tbody>tr:nth-child(odd)>td,
.xm .table-striped tbody>tr:nth-child(odd)>th{background-color:#151515}
.xm .table-hover tbody tr:hover>td,
.xm .table-hover tbody tr:hover>th{background-color:#0e0e0e}
.xm .table.even th{background:#0B0B0B}
/* Pagination */
.xm .pagination ul>li>a,
.xm .pagination ul>li>span{background-color:#1b1b1b;border:1px solid #333333}
.xm .pagination ul>li>a:hover,
.xm .pagination ul>li>a:focus,
.xm .pagination ul>.active>a,
.xm .pagination ul>.active>span{background-color:#2f2f2f}
.xm .pagination ul>.active>a,
.xm .pagination ul>.active>span{color:#FFAAAA}
.xm .pagination ul>.disabled>span,
.xm .pagination ul>.disabled>a,
.xm .pagination ul>.disabled>a:hover,
.xm .pagination ul>.disabled>a:focus{color:#FFAAAA;background-color:transparent}
/* Text Button */
.xm .btn{color:#FFF;text-shadow:1px 1px 0 rgba(100,100,100,.8);border-color:#666;background:#333;*background-color:#222;background-image:-moz-linear-gradient(top, #333, #222);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));background-image:-webkit-linear-gradient(top, #333, #222);background-image:-o-linear-gradient(top, #333, #222);background-image:linear-gradient(to bottom, #333, #222);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);border:1px solid #666;*border:0;border-color:#666;border-color:rgba(102, 102, 102, 0.1);-webkit-box-shadow:inset 0 1px 0 rgba(155, 155, 155, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(155, 155, 155, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(155, 155, 155, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}
.xm .btn:hover,
.xm .btn:focus,
.xm .btn:active,
.xm .btn.active,
.xm .btn.disabled,
.xm .btn[disabled]{color:#D0D0D0;background-color:#555;*background-color:#444;background-image:-moz-linear-gradient(top, #555, #444);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#444));background-image:-webkit-linear-gradient(top, #555, #444);background-image:-o-linear-gradient(top, #555, #444);background-image:linear-gradient(to bottom, #555, #444);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#444444', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);-webkit-box-shadow:0 1px 6px #141414;-moz-box-shadow:0 1px 6px #141414;box-shadow:0 1px 6px #141414}
.xm .btn:hover,
.xm .btn:focus{color:#F0F0F0;}
.xm .btn-inverse.active{color:rgba(255, 255, 255, 0.75)}
.xm .btn-inverse{color:#ffffff!important;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#363636;*background-color:#222222;background-image:-moz-linear-gradient(top, #444444, #222222);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));background-image:-webkit-linear-gradient(top, #444444, #222222);background-image:-o-linear-gradient(top, #444444, #222222);background-image:linear-gradient(to bottom, #444444, #222222);background-repeat:repeat-x;border-color:#222222 #222222 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.xm .btn-inverse:hover,
.xm .btn-inverse:focus,
.xm .btn-inverse:active,
.xm .btn-inverse.active,
.xm .btn-inverse.disabled,
.xm .btn-inverse[disabled]{color:#ffffff;background-color:#222222;*background-color:#151515}
.xm .btn-inverse:active,
.xm .btn-inverse.active{background-color:#080808 \9}
.xm .btn-primary{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#2a2a2a;*background-color:#111111;background-image:-moz-linear-gradient(top, #2a2a2a, #111111);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#2a2a2a), to(#111111));background-image:-webkit-linear-gradient(top, #2a2a2a, #111111);background-image:-o-linear-gradient(top, #2a2a2a, #111111);background-image:linear-gradient(to bottom, #2a2a2a, #111111);background-repeat:repeat-x;border-color:#111111 #111111 #002a80;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a2a2a', endColorstr='#111111', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.xm .btn-primary:hover,
.xm .btn-primary:active,
.xm .btn-primary.x_active,
.xm .btn-primary.x_disabled,
.xm .btn-primary[disabled]{color:#ffffff;background-color:#101010;*background-color:#141414}
.xm .btn-primary:active,
.xm .btn-primary.x_active{background-color:#121212 \9}
.xm .signin{background:#292929}
.xm .signin>.login-header>h1{color:#EEE}
.xm .signin>.login-footer{background-color:#101010;border-top:1px solid #333;-webkit-box-shadow:inset 0 1px 0 #000;-moz-box-shadow:inset 0 1px 0 #000;box-shadow:inset 0 1px 0 #000;color:#EEE}

.xm .agreement .text{background:#292929;}
/* Border */
.xm .border{border:1px solid #ccc;box-shadow:0 0 6px rgba(0,0,0,.1);background:#191919;}

