@charset "utf-8";

html{font-size: 62.5%}
body{width: 100%; height: 100%; padding: 0; margin: 0; background-color: #efefef;}

#mainBox{
    margin-top: 3rem;
    max-width: 100%;
    background: #F2F2F2;
    margin: 0 auto;
    position: relative;}

#mainBox .iconMenu{
    width: 100%;
    font-size: 1.7rem;
    background: #fff;
    padding: 2rem 2.2rem 1em;
    border-bottom: .1rem solid #e5e5e5;
    margin-bottom: 1.2rem;
    box-sizing: border-box;
}

.iconMenu ul{
    width: 100%;
    max-width: 37rem;
    margin: 0 auto;
    font-size: 1.2rem;
    overflow: hidden;
}
.iconMenu ul li{
    width: 28%;
    float: left;
    text-align: center;
}
.iconMenu ul li:nth-child(3n-2){margin-left: 7%;}
.iconMenu ul li a{
    display: block;
    margin: 0 0 15%;
    color: #454545;
}
.iconMenu ul li a img{height: 70px;}


@media screen and (min-width: 640px){
    .iconMenu ul{max-width: 600px;}
    .iconMenu ul li{width: 16%;}
    .iconMenu ul li a img{max-height: 65px;}
    .iconMenu ul li:nth-child(3n-2){margin-left: 0;}
}
    
.sldBnr{
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 auto 1.2rem;
}
.swiper-container {
      width: 100%;
      height: 100%;
}
.swiper-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;}
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.swiper-slide a{display: block;}
.swiper-slide a img{width: 100%;}


#hashtag{
    background: #fff;
    border-bottom: 1px solid #E5E5E5;
    font-size: 1.7rem;
    margin: 0 auto 1.2rem;
    padding: 2rem 2rem 3rem;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;}
.hashtagInner{
    max-width: 768px;
    margin: 0 auto;}
#hashtag h2{
    font-weight: bold;
    margin: 0 0 1.5rem 0;}
#hashtag .tagBox{
    margin-bottom: .7rem;
    max-width: 768px;
    height: auto;}
#hashtag .tagBox>a{
    display: inline-block;
/*    min-height: 9rem;*/
    position: relative;
    width: calc(50% - 0.52rem);
    margin-bottom: .3rem;
/*    margin: 0 auto;*/
}
#hashtag .tagBox>a:nth-child(2n-1){margin-right: 0.5rem;}
#hashtag .tagBox>a>span{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    left: 1rem;
    position: absolute;
    top: 1rem;
    z-index: 1;}
#hashtag .tagBox>a>img{
    min-height: 9rem;
    width: 100%;
    border-radius: 8px;}

#hashtag .tag{margin-top: 1.5rem;}
#hashtag .tag a{
    border: 1px solid #E5E5E5;
    color: #2e2e2e;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1.5rem 1rem;
    text-decoration: none;}

#staticBnr{background: #FFFFFF;
    margin: 0 auto 1.2rem;
    max-height: 20.5rem;
    position: relative;}
#staticBnr .visual{background: url(../images/visual.jpg) 50% 50% no-repeat; background-size: auto 20.5rem; display: block; height: 20.5rem; text-indent: -9999px;}

@media screen and (min-width: 640px){
    #hashtag .tagBox>a{width: 30%; margin: 1%;}
}



#popular{
    background: #fff;
    margin: 0 auto 1.2rem;
    padding: 1.2rem 2rem 0;
    position: relative;
    max-width: 768px;}
#popular .popTitle{display: flex; align-items: center; justify-content: space-between;}
#popular .popTitle h2{font-weight: bold; line-height: 4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#popular .popTitle a{display: block; padding: .8rem 2.6rem; margin-left: 1.2rem; border: 1px solid slateblue; border-radius: 1.5rem; color: slateblue; white-space: nowrap; background-color: #fff;}

.actTab {
    width: 100%;
    max-width: 768px;
    position: relative;
    margin: 0 auto;
}

.actTab ul.tabs{
    width: 100%;
    height: 40px;
}
.actTab ul.tabs li{
    width: 25%;
    float: left;
    text-align: center;
    line-height: 40px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.actTab ul.tabs li:nth-child(1){font-weight: bold;}
.actTab .tabContainer{width: 100%; height: auto; padding: 6% 3% 2%; box-sizing: border-box; border-bottom: 1px solid #efefef;}
.actTab .tabContainer .tabContent{overflow: hidden;}
.actTab .tabContainer .tabContent ul{width: 100%; height: auto; overflow: hidden;}
.actTab .tabContainer .tabContent ul li{float: left; width: 48%;}
.actTab .tabContainer .tabContent ul li:nth-child(2n-1){margin-right: 3%;}
.actTab .tabContainer .tabContent ul li a{display: block;}
.actTab .tabContainer .tabContent ul li a img{width: 100%; border-radius: 7px;}
.actTab .tabContainer .tabContent ul li dl{margin-top: 8px; max-height: 5rem; text-overflow: ellipsis;}
.actTab .tabContainer .tabContent ul li dl dt{}
.actTab .tabContainer .tabContent ul li dl dd{text-align: right;}


.viewTheme{display: block; text-align: center; height: 5rem; line-height: 5rem;}





