@charset "utf-8";

/*#busCat*/
#busCat{border-bottom: 1px solid #efefef;}
#busCat .busCatTit{width:100%; height:100px; text-indent: 20px; background: url(https://surfenjoy.cdn3.cafe24.com/act_title/busbg0.jpg) 0 -215px/auto no-repeat;}
#busCat .busCatTit h2{color:#fff;}
#busCat .busCatTit p,i{font-size:.8em; color:#fff; margin-top: 5px;}
#busCat .busCatTit i{text-indent: 0}

#busCat .busCatList{overflow: hidden; width: 100%; padding: 5% 3% 3% 3%; box-sizing: border-box;}
#busCat ul{width:100%; overflow: hidden; }
#busCat ul li{width: 100%; height: auto; margin-bottom: 2%}
#busCat ul .yybus{margin-right:2%}
#busCat ul li img{width: 100%;}

/*taste*/
#bus{background: #efefef;}
#bus h2{background: url(https://surfenjoy.cdn3.cafe24.com/act_title/busbg.jpg) 0 0/cover no-repeat; line-height: 0;}
#bus h2 img{width: 100%;}
#bus .coupon{display: block; width: 100%; height: 50px; line-height: 50px; font-size: 1.2em; text-indent: 25px; background: #fff; border-bottom: 1px solid #dedede; margin: 8px 0; }
#bus .coupon a{color:#555555;}
#bus .coupon a img{height: 25px; vertical-align: middle; margin: 0 7px 4px 0; color: #ff905f}
#bus .coupon a i{text-indent: 6px;}