@charset "utf-8";

/*layout*/
#listMenu{width: 100%; height: auto; padding-top: 10px; background-color: #fff; position: relative;}

/*listMenu*/
#listMenu .btnArea{
width: 100%;
height: 35px;
display: inline-block;
border: none;
text-decoration: none;
background-color: #fff;
cursor: pointer;
text-align: center;
font-size: 18px;
font-weight: 600;
color: #fff;
margin: 5px 0 0 0;
}
#listMenu .btnArea .btnContent{
background-color: #3195db!important;
width: 18%;
min-width: 110px;
display: inline-block;
padding: 5px 0;
border-radius: 20px;
height: 25px;
line-height: 25px;}

#listMenu .listArea{width: 100%; overflow: hidden; text-align: center; font-size: 16px; font-weight: 500; color: #3195db!important; background-color: rgba(255,255,255,.9); position: absolute; top: 55px; z-index: 1; display: none;} 
#listMenu .listArea li{width: 100%; height: 64px; line-height: 60px; margin: 0 auto; background-color: #fff; padding-left:30px;}
#listMenu .listArea li:nth-child(2n-1){background-color: #edf8ff;}
/* #listMenu .listArea li:last-child{border-radius: 0 0 15px 15px ; padding-bottom: 2px; border-bottom: 2px solid rgba(0,0,0,.2)} */

#listMenu .listBeach{width: 95%; height: auto; margin-left: 2.5%; overflow: hidden; font-size: 1.1em; line-height: 2.5em;border-bottom: 1px solid #3195db;}
#listMenu .listBeach li{float: left; min-width: auto; height: 38px; margin-left: 3%; text-align: center;}
#listMenu .listBeach li:first-child a{color:#ff905f;}
#listMenu .listBeach li:last-child a{font-size: .6em; color: #8f8f8f; margin-left: 5px;}

/*--------------  hover effect  ---------------*/
#listMenu .btnArea .btnContent:hover{background-color: #edf8ff;}
#listMenu .listArea li a:hover{transform: scale(1.02); color:#3195db}
#listMenu .listBeach li a:hover{opacity: .7}

@media screen and (max-width: 375px){
#listMenu .btnArea .btnContent{width: 24%; height: 23px; font-size: 17px; min-width: 100px}
#listMenu .listBeach li:last-child{display: none;}
}