@charset "utf-8";

/*layout*/
#shopCat, #popShop, #popBeach{width:100%;height:auto; position:relative; color:#333; font-size: 16px;}
h2{padding-top: 30px; text-indent: 20px;}

/*#shopCat*/
#shopCat{border-bottom: 1px solid #efefef;}
#shopCat .shopCatTit{width:100%; height:100px; text-indent: 20px; background: url(../images/shopcatbg.jpg) 0 -150px/auto no-repeat;}
#shopCat .shopCatTit p,i{font-size:.8em; color:#555555; margin-top: 5px;}
#shopCat .shopCatTit i{text-indent: 0}

#shopCat .shopCatList{overflow: hidden; width: 100%; padding: 0 2%; box-sizing: border-box; padding: 10px;}
#shopCat ul{width:49%; overflow: hidden; margin-top: 15px; margin-right: 2%; float:left;}
#shopCat ul:nth-child(2){height: 166px;}
#shopCat ul:nth-child(2n){margin-right: 0;}
#shopCat ul li{width: 38%;padding-left: 5.5%; float: left; margin: 5px 5px;}
#shopCat ul li a{display: inline-block; color:#606060; font-size: .9em; line-height: 2em;}
#shopCat ul .regionTit{width:100%; height:40px; text-align:center; padding: 0; margin:0 0 10px 0; background-color: #e4f9ff; border-radius: 6px;}
#shopCat ul .regionTit a{color:#333; font-size:1.1em; font-weight:600; line-height:40px; border: none;}
#shopCat .regionReady{text-align: center; padding: 0; margin: 0;}
#shopCat .regionReady li{width: 90%;}
#shopCat ul li p{font-size:.8em; color:#949494; line-height:1em; font-weight:100;}


/*#popShop*/
#popShop{width:100%; height: 100%; position:relative; margin:0 auto; overflow: hidden;}
#popShop h2{text-indent: 10px;}
#popShop h2 i{color:#ffa41b}
#popShop .popShopSldr {width: 100%; height: 100%; padding: 10px 5px; box-sizing: border-box;}
#popShop .popShopSldr .swiper-slide {
      text-align: center;
      font-size: 18px;
      padding-bottom: 10px;
      background: #fff;
/*      border: 1px solid #f5f5f5;*/
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
      border-radius: 7px;
      box-sizing: border-box;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;}
#popShop .popShopSldr .swiper-slide img{width: 100%; border-radius: 7px 7px 0 0;}
#popShop .popShopSldr .swiper-slide p{text-overflow:ellipsis; text-indent: 20px; text-align: left;}
#popShop .popShopSldr .swiper-slide p:nth-child(2){font-size:.7em; color:#949494;font-weight: 300;}
#popShop .popShopSldr .swiper-slide p:nth-child(3){font-size:.8em;}
#popShop .popShopSldr .swiper-slide p:nth-child(4){font-size:.7em; text-align: right; margin-right: 15px;}
#popShop .popShopSldr .swiper-pagination{bottom:0;}


/*#popBeach*/
#popBeach{height: 200px;}
#popBeach ul{overflow: hidden; margin: 7px 0 20px 15px;}
#popBeach ul li{float: left; padding: 2px 10px;height: 30px;line-height: 30px; text-align: center; border: 1px solid #12cad6; border-radius: 10px; margin: 5px 3px;}
#popBeach ul li a{color:#606060}
#popBeach ul li a span{font-size:1.3em; line-height: 30px; margin-right: 3px; color:#12cad6}






