@charset "utf-8";
#wrap {
    color: #333
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.swiperimg {
    background-position: 50% 50%;
    background-size: cover;
    height: 30vh;
    position: relative;
    width: 100%;
    z-index: 10;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1.8rem;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 5px;
    color: #2e2e2e;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 5px;
    color: #2e2e2e;
}

.shoptitle {
    text-indent: 15px;
    padding: 5px 0
}

.shoptitle h1 {
    font-size: 2em;
    color: #333;
    line-height: 1.5em;
}

.reviewcnt {
    color: #ff905f
}

.reviewlink {
    color: inherit;
    text-decoration: none;
    font-size: .9em;
    line-height: 1.6em;
    display: inline-block;
}

.shopsubtitle {
    font-size: 1em;
    line-height: 1.6em;
    color: #3195db;
}

.notice .vip-tabnavi li a {
    font-size: 1.1em;
    font-weight: 500;
}

.notice ul {
    padding-inline-start: 3px;
    margin-block-start: 0px;
}

.notice .noticeline {
    padding: 10px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #f2f2f2;
}

.notice .noticeline2 {
    padding: 10px;
    margin: 10px 0 0 0;
    border-top: 1px solid #f2f2f2;
}

.noticetxt {
    font-size: 1.5em;
    line-height: 1.8em;
    font-weight: 700;
    text-align: center;
    margin-block-start: 0px;
}

.noticesub {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.3em;
}

.noticeline ul,
.noticeline2 ul {
    margin-block-end: 12px;
}

.litxt {
    font-weight: 400;
    font-size: 1em;
    margin-top: .4rem;
    color: #616161;
    display: flex;
    line-height: 1.5em;
}

.refund {
    width: 100%;
    max-width: 640px;
}

.refund img {
    width: 90%;
    margin-left: 4%;
}

.litxt:before {
    font-size: 0.5rem;
    content: "\2022";
    padding: 0 .4rem;
    list-style: none;
}

@media screen and (max-width: 590px) {
    .refund img {
        width: 100%;
        margin-left: 0;
    }
}

.vip-tabwrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    position: relative;
    clear: both;
    z-index: 5;
}

.vip-tabwrap-top {
    padding-top: 47px;
}

.vip-tabwrap-fixed {
    top: 0;
    position: fixed;
    width: 100%;
}

.vip-tabwrap .vip-tabnavi {
    max-width: 640px;
    height: 32px;
    clear: both;
    background: #a9b3bc;
    border-bottom: 1px solid #96a3ad;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    top: 0;
    left: 0
}

.vip-tabwrap .vip-tabnavi ul {
    height: 29px;
    position: relative;
    overflow: hidden;
    margin-block-start: 2px;
    padding-top: 4px;
}

.vip-tabnavi li {
    float: left;
    margin-right: 4px;
    display: flex;
    cursor: pointer;
}

.vip-tabnavi a {
    display: block;
    height: 17px;
    padding: 4px 15px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -1px
}

.vip-tabnavi .on a {
    font-weight: bold;
    background: #858f9a;
    border-radius: 15px;
}

.view_tab3 {
    font-size: 12px;
}

.date-sunday .ui-state-default {
    color: red;
}

.date-saturday .ui-state-default {
    color: blue;
}


/* bus view css ===================================== */


/*#view_tab3*/


/* busOption01 */


/* .busOption01{width: 100%; height: auto; padding: 18px 10px; background-color: #fafafa; box-sizing: border-box;} */

.busOption01 {
    width: 100%;
    height: auto;
    padding: 18px 10px;
    box-sizing: border-box;
}

.busOption01 ul {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
}

.busOption01 ul li {
    float: left;
    width: 95px;
    height: 35px;
    line-height: 35px;
    font-size: 1.2em;
    text-align: center;
    margin: 0 3px 10px 0
}


/* .busOption01 li i{font-size: 1em; color: #a3a3a3; margin-right:2px;} */

.busOption01 ul li img {
    height: 18px;
    vertical-align: middle;
    margin-right: 6px;
}

.busOption01 .destination {
    overflow: hidden;
}

.busOption01 .destination li {
    cursor: pointer;
}

.busOption01 .destination li:first-child {
    width: 80px;
    text-align: left;
}

.busOption01 .destination .toYang {
    background-color: #dbe8ef;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    color: #555555;
    text-indent: 15px;
    font-size: 1.3em;
    font-weight: 500;
}

.busOption01 .destination .on {
    background-color: #59abda;
    color: #fff;
}

.busOption01 .destination li i {
    text-indent: 10px;
    opacity: .5;
}


/* .busOption01 .destination li .fas{transform: none!important;} */

.busOption01 .busDate li {
    width: 193px;
}

.busOption01 .busDate li:first-child {
    width: 80px;
    text-align: left;
}


/* .busOption01 .busDate .calendar{border: 1px solid #dedede;color:#5b5b5b; border-radius: 5px; line-height: 50px; box-shadow: 1px 1px 2px rgba(0,0,0,.1);} */

.busOption01 .busDate .calendar {
    text-align: left;
}

.busOption01 .busLine {
    width: 440px;
}

.busOption01 .busLine li {
    width: 110px;
    background-color: #efefef;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    border-radius: 6px;
    color: #555555;
    margin: 0 5px 5px 0
}

.busOption01 .busLine .on {
    background-color: #52c9a3;
    color: #fff;
}

.busOption01 .busLine li:first-child {
    width: 80px;
    text-align: left;
    background: #fff;
    color: #333;
    box-shadow: none;
}

.busOption01 .busLine li:nth-child(3n+5) {
    margin-left: 85px;
}

.busOption01 .busStop {
    margin-left: 90px;
    font-size: .9em;
}

.busOption01 .busStop li {
    width: 100%;
    height: auto;
    text-align: left;
    line-height: 20px;
    margin: 0;
    word-break: keep-all;
}

.busOption01 .busLineTab {
    width: 440px;
}

.busOption01 .busLineTab li {
    width: 150px;
    background-color: #efefef;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    border-radius: 6px;
    color: #555555;
    margin: 0 5px 5px 0
}

.busOption01 .busLineTab .on {
    background-color: #52c9a3;
    color: #fff;
}

.busOption01 .busLineTab li:nth-child(3n+5) {
    margin-left: 85px;
}


/* busOption02 */

.busOption02 {
    margin-top: 10px;
}

.busOption02 ul {
    overflow: hidden;
    padding-inline-start: 0px;
}

.busOption02 .busSeat {
    width: 100%;
    padding: 0;
}

.busOption02 .selectStop {
    margin-top: 20px;
}

.busOption02 .selectStop li:nth-child(2n-1) {
    border: 1px solid #e0e0e0;
    height: 37px;
}

.busOption02 .selectStop li img {
    width: 180px;
}

@media screen and (max-width: 500px) {
    .busOption01 .busLine {
        width: 100%;
    }
    .busOption01 .busLine li {
        width: 22%;
        height: 30px;
        line-height: 30px;
        background: none;
        background-color: #efefef;
        border-radius: 6px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        margin: 0 5px 7px 0;
        font-size: 1.1em;
    }
    .busOption01 .busLine .on {
        background-color: #52c9a3;
        color: #fff;
    }
    /* .busOption01 .busLine li:first-child{box-shadow: none;} */
}


/* 예약 테이블 */

.bd,
.bd textarea,
.bd select,
.bd button,
.bd table {
    padding: 0px;
}

.bd table {
    border-spacing: 0;
    border-collapse: collapse;
}

.et_vars {
    width: 100%;
    margin-bottom: 8px;
}

.et_vars th,
.et_vars td {
    padding: 6px;
    border: 1px solid #DDD;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.2rem;
}

.et_vars th {
    background-color: #efefef;
}

.et_vars td {
    /* background: #FFF; */
}

.bd select,
.itx {
    display: inline-block;
    margin: 0;
    padding: 4px 6px;
    background: #FAFAFA;
    border-radius: 3px;
    border: 1px solid;
    border-color: #BBB #DDD #DDD #BBB;
    *display: inline;
    *zoom: 1;
}

.bustext em {
    color: red;
    font-style: normal;
}

.bustext th {
    font-family: gulim, Tahoma, Arial, Sans-serif;
}

.gg_btn_color {
    color: #fff !important;
    background: rgba(229, 39, 39, 0.80);
}

.gg_btn_grid {
    width: 100%;
    height: 30px;
    padding: 0 !important;
}

.gg_btn {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /* zoom and *display = ie7 hack for display:inline-block */
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    text-decoration: none !important;
    margin: 0 0 0 0px;
    border: 0;
    -webkit-appearance: none;
}


/* 예약화면 달력 */

.restitle {
    font-size: 1.3em;
    font-weight: 700;
    margin-block-end: 5px;
}

.exForm input[type=radio],
.exForm input[type=checkbox] {
    margin: 0 2px 1px 0;
    vertical-align: middle;
    font-size: 12px;
}

.tour_hide_option {
    padding: 10px 0px 10px 0px;
    border-top: 0px solid #b7b7b7
}

.tour_calendar_box {
    background-color: #fff
}

.tour_calendar_box table {
    border-spacing: 0;
    border-collapse: collapse
}

.tour_calendar_header {
    height: 40px;
    position: relative
}

.tour_calendar_next,
.tour_calendar_prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    background-color: #999;
    color: #999;
    border-radius: 50%;
    text-indent: -9999px
}

.tour_calendar_next .cal_ico,
.tour_calendar_prev .cal_ico {
    position: absolute;
    top: 6px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    z-index: 10;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff
}

.tour_calendar_prev {
    left: 0
}

.tour_calendar_prev .cal_ico {
    left: 8px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.tour_calendar_next {
    right: 0
}

.tour_calendar_next .cal_ico {
    right: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.tour_calendar_title {
    text-align: center;
    line-height: 40px;
    font-size: .8125rem
}

.tour_calendar_year:after {
    content: '.';
    display: inline
}

.tour_calendar {
    border: 1px solid #efefef;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    table-layout: fixed
}

.tour_calendar th {
    text-align: center;
    font-weight: 400;
    font-size: .625rem;
    color: #222;
    background-color: #f8f8f8;
    line-height: 25px;
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef
}

.tour_calendar th:first-child {
    border-left: 0 none;
    color: #e52727
}

.tour_calendar th:last-child {
    border-left: 0 none;
    color: blue
}

.tour_calendar td {
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    position: relative
}

.tour_calendar td:first-child {
    border-left: 0 none
}

.tour_calendar td:first-child .tour_td_block .tour_cal_day {
    color: #e52727;
    font-weight: bold;
}

.tour_calendar td:last-child .tour_td_block .tour_cal_day {
    color: blue;
    font-weight: bold;
}

.tour_calendar .tour_td_block {
    display: block;
    width: 100%;
    min-height: 45px;
    position: relative;
    color: #ccc;
    font-size: 11px;
    font-weight: 400;
    background: #fff;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.tour_calendar .tour_cal_day {
    line-height: 12.3px;
    text-align: center;
    height: 11px;
    position: absolute;
    display: block;
    right: 5px;
    top: 5px
}

.tour_calendar .tour_cal_pay {
    text-align: right;
    font-size: 11px;
    line-height: 12.3px;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 1px;
    padding-right: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: -.05rem
}

.tour_calendar .tour_td_block .tour_cal_day {
    color: #222
}

.tour_calendar .cal_type1 .tour_cal_pay {
    color: #ef2705
}

.tour_calendar .cal_type1.tour_td_select .tour_td_block {
    background: #ef2705;
    border: 1px solid #ef2705
}

.tour_calendar .cal_type2 .tour_cal_pay {
    color: #1179ea
}

.tour_calendar .cal_type2.tour_td_select .tour_td_block {
    background: #1179ea;
    border: 1px solid #1179ea
}

.tour_calendar .tour_td_select .tour_td_block {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 10
}

.tour_calendar .tour_td_select .tour_cal_day,
.tour_calendar .tour_td_select .tour_cal_pay {
    color: #fff!important
}

.tour_calendar_type2 .tour_calendar_prev {
    left: 10px
}

.tour_calendar_type2 .tour_calendar_next {
    right: 10px
}

.tour_calendar_type2 .tour_td_block .tour_cal_day {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: .75rem
}

.tour_calendar_type2 .tour_td_select .tour_td_block {
    background: #1179ea;
    border: 1px solid #1179ea
}

.tour_calendar_type3 .tour_calendar_prev {
    left: 10px
}

.tour_calendar_type3 .tour_calendar_next {
    right: 10px
}

.tour_calendar_type3 .tour_td_block .tour_cal_day {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: .75rem
}

.tour_calendar_type3 .cal_checkin .tour_td_block,
.tour_calendar_type3 .cal_checkout .tour_td_block {
    z-index: 10;
    position: absolute;
    top: -1px;
    left: -1px
}

.tour_calendar_type3 .cal_checkin .tour_td_block:after,
.tour_calendar_type3 .cal_checkout .tour_td_block:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.tour_calendar_type3 .cal_checkin .tour_td_block .tour_cal_day,
.tour_calendar_type3 .cal_checkin .tour_td_block .tour_cal_pay,
.tour_calendar_type3 .cal_checkout .tour_td_block .tour_cal_day,
.tour_calendar_type3 .cal_checkout .tour_td_block .tour_cal_pay {
    color: #222!important
}

.tour_calendar_type3 .cal_checkin .tour_td_block {
    background: 0 0;
    border: 1px solid #1179ea
}

.tour_calendar_type3 .cal_checkin .tour_td_block:after {
    border: 1px solid #1179ea
}

.tour_calendar_type3 .cal_checkout .tour_td_block {
    background: 0 0;
    border: 1px solid #ef2705
}

.tour_calendar_type3 .cal_checkout .tour_td_block:after {
    border: 1px solid #ef2705
}


/* 강습예약 */

.fixed_wrap3 {
    width: 100%;
    padding-top: 5px;
    height: 40px;
}

.cnb3 li {
    list-style: none;
    float: left;
    font-size: 12px;
    padding-right: 5px;
    cursor: pointer;
}

.cnb3 {
    margin: 0 0 0 -2px;
    padding: 0;
}

.cnb3 a {
    display: block;
    overflow: hidden;
    padding: 5px 16px;
    margin: 2px;
    border: 1px solid #DDD;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none !important;
    text-align: center;
    color: #666;
    font-family: 'Malgun Gothic', 'Droid Sans', 'Apple-Gothic', '애플고딕', 'Tahoma', dotum, '돋움', gulim, '굴림', sans-serif;
}

.cnb3 .on>a,
.cnb3 a:hover,
.cnb3 a:focus {
    border-color: #999;
    background: #DDD;
    color: #FFF;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5)
}

.cnb3 .on>a {
    font-weight: 700;
}

.cnb3 .on2>a {
    border-color: #999;
    background: #97c91d;
    color: #FFF;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5)
}

.cnb3 .on3>a {
    border-color: #999;
    background: #BBB;
    color: #FFF;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5)
}

.btnColor a {
    height: 25px;
    padding-top: 14px;
}

.gg_first {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    height: 22px;
    border-bottom: 1px solid #6f7d7d;
    margin-bottom: 3px;
    font-family: 'Malgun Gothic', 'Droid Sans', 'Apple-Gothic', '애플고딕', 'Tahoma', dotum, '돋움', gulim, '굴림', sans-serif;
}

.resoption {
    display: block;
    padding: 6px 0 0 0;
    color: #a9a9a9;
    font-size: 11px;
    line-height: 1;
}

.btnsurfadd {
    border: none;
    font-family: inherit;
    width: 100px;
    height: 33px;
    font-size: 1em;
    border-radius: 6px;
    background-color: #3195db;
    color: #fff;
    cursor: pointer;
}

.btnsurfdel {
    border: none;
    font-family: inherit;
    width: 100px;
    height: 33px;
    font-size: 1em;
    border-radius: 6px;
    background-color: #db3131;
    color: #fff;
    cursor: pointer;
}

.SolLayer_btn {
    display: inline-block;
    padding: 13px 20px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    background: #c11414;
    cursor: pointer;
}

.SolLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
    color: white;
}

.SolNoticeLayer .info {
    font-weight: 1;
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.SolNoticeLayer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    z-index: 60;
    color: white;
}

.SolNoticeLayer .box {
    display: table;
    width: 100%;
    height: 20%;
}

.SolNoticeLayer .box .in {
    display: table-cell;
    vertical-align: middle;
}