@charset "utf-8";

/*common*/
p{margin: 0; padding: 0;}
#wrap a{display: block;}

/*layout*/
#listWrap{background-color: #f8f8f8;}
#listMenu{width: 100%; height: auto; padding-top: 10px; background-color: #fff; position: relative;}
#popShop, #allShop{width: 100%; height: 100%; position: relative;  box-shadow: 1px 1px 2px rgba(0,0,0,.1);background-color: #fff5c9;margin-bottom: 15px;}
#allShop{background-color: #fff;}

/*listMenu*/
#listMenu .btnArea{
width: 100%;
height: 35px;
display: inline-block;
border: none;
text-decoration: none;
background-color: #fff;
cursor: pointer;
text-align: center;
font-size: 18px;
font-weight: 600;
color: #fff;
margin: 5px 0 0 0;
}
#listMenu .btnArea .btnContent{
background-color: #3195db!important;
width: 18%;
min-width: 110px;
display: inline-block;
padding: 5px 0;
border-radius: 20px;
height: 25px;
line-height: 25px;}

#listMenu .listArea{width: 100%; overflow: hidden; text-align: center; font-size: 16px; font-weight: 500; color: #3195db!important; background-color: rgba(255,255,255,.9); position: absolute; top: 55px; z-index: 1; display: none;} 
#listMenu .listArea li{width: 100%; height: 64px; line-height: 60px; margin: 0 auto; background-color: #fff; padding-left:30px;}
#listMenu .listArea li:nth-child(2n-1){background-color: #edf8ff;}
/* #listMenu .listArea li:last-child{border-radius: 0 0 15px 15px ; padding-bottom: 2px; border-bottom: 2px solid rgba(0,0,0,.2)} */

#listMenu .listBeach{width: 95%; height: auto; margin-left: 2.5%; overflow: hidden; font-size: 1.1em; line-height: 2.5em;border-bottom: 1px solid #3195db;}
#listMenu .listBeach li{float: left; min-width: auto; height: 38px; margin-left: 3%; text-align: center;}
#listMenu .listBeach li:first-child a{color:#ff905f;}
#listMenu .listBeach li:last-child a{font-size: .6em; color: #8f8f8f; margin-left: 5px;}

/*surfShop*/
#surfShop{background: #efefef; margin: 0;}
#surfShop h2{background: url(https://surfenjoy.cdn3.cafe24.com/act_title/surfshopbg.jpg) 0 0 /cover no-repeat; line-height: 0;}
#surfShop h2 img{width: 100%;}
#surfShop .coupon{display: block; width: 100%; height: 50px; line-height: 50px; font-size: 1.2em;margin: 8px 0; text-indent: 25px; background: #fff; border-bottom: 1px solid #dedede;}
#surfShop .coupon a{color:#555555;}
#surfShop .coupon a img{height: 25px; vertical-align: middle; margin: 0 7px 4px 0; color: #faf5ee}
#surfShop .coupon a i{text-indent: 6px;}

/*popShop*/
#popShop h2{width: 100%; color: #3195db; text-indent: 5%; line-height: 2em; padding: 10px 0 0;}
#popShop h2 img{width: 28px;}

/*allShop*/
#allShop h2{width: 100%; color: #3195db; text-indent: 5%; line-height: 2em; padding: 10px 0 0;}

/*listShop*/
.listShop{overflow: hidden; border-radius: 10px;}
.listShop .listShopbox{width: 100%; height: auto;}
.listShop .listShopbox .listItem{overflow: hidden; padding: 20px 0;margin: 2%; border-bottom: 1px solid #dedede; background-color: #fff; box-sizing: border-box;}
.listShop .listShopbox .listItem:last-child{border:none;}

/*------------------  listItem  -----------------*/
/*thumbnail*/
.listItem .thumbnail{width: 40%; float: left;}
.listItem .thumbnail a img{width: 88%; max-width: 200px; margin: 0 7% 3% 5%; border-radius: 10px}
.listItem .thumbnail span{width: 80%; margin: 0 5% 0 7%;display: inline-block; text-align: center;}
.listItem .thumbnail span img{width: 12%; margin-right: 3px;}
.listItem .thumbnail span img:last-child{margin-right: 0;}

/*contents*/
.listItem .contents{width: 60%; float: left;}
.listItem .contents h3{float: left; font-size: 1.5em; line-height: 1em;}
.listItem .contents h3 a i{color:#3195db}
.listItem .contents span{display: inline-block;height: 22px; line-height: 22px; float: right; margin-right: 7%;}
.listItem .contents span:nth-child(3){display: block; width: 100%; margin-right: 0; font-size: .8em; height: 18px; line-height: 18px; color:#939393; margin: 4px 0 5px 0; text-indent: 1px;}
.listItem .contents span a img{width: 15px;}
.listItem .contents p{clear: both; color: #636363; line-height: 1.6em;}

/*price*/
.listItem .price{width: 60%;float: left; margin-top: 3%; padding-right: 5%; box-sizing: border-box; font-size: .9em;}
.listItem .price p{display: inline-block; width: 30%; float: left; height: 28px; line-height: 28px; text-align: right; }
.listItem .price .lecture{width: 100%; display: inline-block}
.listItem .price .lecture p:nth-child(1){width: 40%;height: 28px; text-align: left; text-indent: 10px; font-size: 1em;}
.listItem .price p>span{background-color: #939393; color:#333; padding: 2px 5px; border-radius: 5px; color: #fff; font-weight: 300;}
.listItem .price .lecture p:nth-child(2){font-size: .85em; text-decoration:line-through; color:#a1a1a1}
.listItem .price .rental{width: 100%; display: inline-block;}
.listItem .price .rental p:nth-child(1){width: 40%;height: 28px; text-align: left; text-indent: 10px; font-size: 1em;}
.listItem .price .rental p:nth-child(2){font-size: .85em; text-decoration:line-through; color:#a1a1a1}

.listItem .price .lecture p>span, .listItem .price .rental p>span{padding: 2px 7px;}

/*event*/
.listItem .event{width: 95%; margin-left: 2.5%; height: auto; float: left; background-color: #f0f8ff; text-align: center; font-weight: 400; line-height: 2.5em; margin-top: 5px; color:#606060}
.listItem .event span{background-color: #8ac9ff; font-size: .75em;border-radius: 15px; padding: 2px 6px; margin-right: 7px; color:#fff}


/*--------------  hover effect  ---------------*/
#listMenu .btnArea .btnContent:hover{background-color: #edf8ff;}
#listMenu .listArea li a:hover{transform: scale(1.02); color:#3195db}
#listMenu .listBeach li a:hover{opacity: .7}


/*--------------- media ----------------*/
@media screen and (min-width: 500px){
.listItem .contents h3{font-size: 1.7em;}
.listItem .contents span:nth-child(3){margin: 4px 0 12px 0;}
.listItem .contents p{font-size: 1.1em; line-height: 1.8em;}
.listItem .price{width: 60%; font-size: 1.1em;}
.listItem .price p{width: 80px; float: left; height: 28px; line-height: 28px; text-align: left;}
.listItem .price .lecture p:nth-child(1){width: 80px; height: 28px; text-indent: 0px; font-size: .9em}
.listItem .price .rental p:nth-child(1){width: 80px; height: 28px; text-indent: 0px;  font-size: .9em}
.listItem .price .lecture p:nth-child(2){font-size: .9em; text-decoration:line-through; color:#a1a1a1}
.listItem .price .rental p:nth-child(2){font-size: .9em; text-decoration:line-through; color:#a1a1a1}
}

@media screen and (max-width: 375px){
#listMenu .btnArea .btnContent{width: 24%; height: 23px; font-size: 17px; min-width: 100px}
#listMenu .listBeach li:last-child{display: none;}
.listItem .contents h3{font-size: 1.4em;}
.listItem .contents p{font-size: .85em;}
.listItem .price p{height: 24px; line-height: 24px; font-size: .9em}
.listItem .event{font-size: .9em;}
}