@charset "utf-8";

/*#bbqCat*/
#bbqCat{border-bottom: 1px solid #efefef;}
#bbqCat .bbqCatList{overflow: hidden; width: 100%; padding: 2%; box-sizing: border-box;}
#bbqCat ul{width:100%; overflow: hidden; margin:10px 0; margin-right: 2%;}
#bbqCat ul li{width: 100%; height: auto; margin-bottom: 10px}
#bbqCat ul li img{width: 100%;}

/*taste*/
#bbq{background: #efefef;}
#bbq h2{background: url(https://surfenjoy.cdn3.cafe24.com/act_title/bbqbg.jpg) 0 0 /cover no-repeat; line-height: 0;}
#bbq h2 img{width: 100%;}
#bbq .coupon{display: block; width: 100%; height: 50px; line-height: 50px; font-size: 1.2em; text-indent: 25px; background: #fff; border-bottom: 1px solid #dedede; margin: 8px 0;}
#bbq .coupon a{color:#555555;}
#bbq .coupon a img{height: 25px; vertical-align: middle; margin: 0 7px 4px 0; color: #ff905f}
#bbq .coupon a i{text-indent: 6px;}