@media (max-width: 320px) {
}

@media (min-width: 321px) and (max-width: 768px) {
	.areaRight {padding-left:0px;}
}
@media (min-width: 769px) {
	.areaRight {padding-left:10px;}
}

.res_btn_color2 {	color: #fff;	background: #1973e1;	}

.selTr td{background-color:#dfeeee;}
.selTr2 td{background-color:#eee;}
.tdcenter td{text-align: center;}

#containerTab .tab_content {
	padding:5px;
	font-size: 12px;
	/* display: none; */
}

.predate td{color: #696969;}
.rescolor3{color: #5555ff;}


.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.container {
	background-color: #FFFFFF;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.noDisplay {
	display: none;
}
.ifrmMap{min-height:600px;height:100%;}

.left_article {font-family: "Source Sans Pro";	color: #343434;	padding-bottom: 15px;	padding-left: 0px; }
.right_article {width: 50%;	float: left;}

.left_article2 {width: 64%;	float: left;	font-family: "Source Sans Pro";	color: #343434;	padding-bottom: 0px;	padding-left: 0px; }
.right_article2 {width: 36%;	float: left;}

.left_article3 {width: 60%;	float: left;	font-family: "Source Sans Pro";	color: #343434;	padding-bottom: 0px;	padding-left: 0px; }
.right_article3 {width: 40%;	float: left;}

.right_article4 {width: 100%;	float: left;	font-family: "Source Sans Pro";	color: #343434;	padding-bottom: 15px;	padding-left: 0px; }

.left_article5 {width: 30%;	float: left;	font-family: "Source Sans Pro";	color: #343434;	padding-bottom: 0px;	padding-left: 0px; }
.right_article5 {width: 70%;	float: left;}

.placeholder {
	width: 100%;
	padding-bottom: 30px;
	height: 100%;
}

.divBtnRes {display:block;}
.shopListArea{display:block;}

.tab1 { height:24px; padding:0 6px 0 0; background:url(https://surfenjoy.cdn3.cafe24.com/camp/tab1_r.png) 100% 0 no-repeat; display:inline-block; }
.tab1 span { height:22px; padding:6px 3px 1px 8px; background:url(https://surfenjoy.cdn3.cafe24.com/camp/tab1_l.png) 0 0 no-repeat; display:inline-block; cursor:pointer; color:#fff; font-weight:bold; font-size:11px; width:28px;text-align:center;}
.tab1 span input
{
    vertical-align:-3px;
}
.tab2 { height:24px; padding:0 6px 0 0; background:url(https://surfenjoy.cdn3.cafe24.com/camp/tab2_r.png) 100% 0 no-repeat; display:inline-block; }
.tab2 span { height:22px; padding:6px 3px 1px 8px; background:url(https://surfenjoy.cdn3.cafe24.com/camp/tab2_l.png) 0 0 no-repeat; display:inline-block; cursor:pointer; color:#fff; font-weight:bold; font-size:11px; width:28px;text-align:center;}

@media (max-width: 320px) {
	.left_article, .left_article2, .left_article3, .left_article4, .left_article5 {
		width: 100%;
		height: auto;
	}
	.right_article, .right_article2, .right_article3, .right_article4, .right_article5 {
		width: 100%;
		height: auto;
	}
	.placeholder {
		width: 100%;
		margin-top: 22PX;
		margin-right: 0px;
		margin-bottom: 22PX;
		margin-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		max-width: 400px;
		max-height: 200px;
		height: auto;
	}
	.copyright {
		padding-top: 25px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	.container .left_article h3 {
		margin-top: 30px;
	}
}

@media (min-width: 321px) and (max-width: 768px) {
	.left_article, .left_article2, .left_article3, .left_article4, .left_article5 {
		padding-left: 0%;
		padding-right: 0%;
		width: 100%;
		height: auto;
	}
	.right_article, .right_article2, .right_article3, .right_article4, .right_article5 {
		width: 100%;
		height: auto;
		padding-bottom: 25px;
	}

	.placeholder {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		width: 100%;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}

	.divBtnRes {display:none;}
	.shopListArea {display:none;}

	.placeholder3 {width: 98%;}
}

@media (min-width: 769px) and (max-width: 1000px) {
	.left_article, .left_article2, .left_article3, .left_article4, .left_article5 {
		height: auto;
	}
	.right_article, .right_article2, .right_article3, .right_article4, .right_article5 {
		height: auto;
		padding-bottom: 27px;
	}
	.placeholder {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (min-width: 1000px) {
}

.inner {text-align: center;}
.centered {position: relative; display: inline-block; text-align:left;}

#containerTab ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	width: 99%;
	font-family:"dotum";
	font-size:12px;
}
#containerTab ul.tabs li {
	float: left;
	text-align:center;
	cursor: pointer;
	width:100px;
	height: 31px;
	line-height: 31px;
	border: 1px solid #eee;
	border-left: none;
	font-weight: bold;
	background: #fafafa;
	overflow: hidden;
	position: relative;
}
#containerTab ul.tabs li.active {
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
#containerTab .tab_container {
	border: 1px solid #eee;
	border-top: none;
	clear: both;
	float: left;
	width: 99%;
	background: #FFFFFF;
}

#containerTab .tab_container .tab_content ul {
	margin:0px;
	padding:0px;
}
#containerTab .tab_container .tab_content ul li {
	padding:5px;
	list-style:none
}
;
 #containerTab {
	width: 99%;
	margin: 0 auto;
}

@media (min-width: 1001px) {
}



.adtitle, .adtitle2 {
    position: relative;
    padding: 10px 0 6px 0;
    background: none;
    font-size: 16px;font-weight:700;
}

.surfcontent{
	line-height: 25px;
	font-size: 13px;
}