@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */
.joinContent fieldset{ border:0; margin:0; padding:0;}
.joinContent form{ margin:0; padding:0;}
.joinContent label{ cursor:pointer;}
.joinContent .inputCheck{ width:13px; height:13px; vertical-align:middle; margin:0 5px 0 0;}
.joinContent .joinTitle{ font-size:14px; padding:12px 20px; margin:0 0 10px 0; }
.joinContent .joinAgreement{ position:relative; height:140px; line-height:1.5; margin:0 20px 15px 20px; padding:10px; overflow:auto; border:1px solid #ddd; background:#fbfbfb; color:#767676; -moz-border-radius:3px; -webkit-border-radius:3px;}
.joinContent .checkAgreement{ margin:0 20px 15px 20px; color:#333;}
.joinContent .joinButtonArea{ margin:0 20px; *zoom:1; text-align:center; }

.joinContent .joinButton{ position:relative; display:inline-block; width:270px; height:28px; border:3px double #ddd; background:#f8f8f8; -moz-border-radius:3px; -webkit-border-radius:3px;}
.joinContent .joinButton:hover{ background:#f4f4f4;}
.joinContent .joinButton input,
.joinContent .joinButton a{ position:relative; display:inline-block; vertical-align:middle; width:270px; height:28px; line-height:28px; text-align:center; overflow:visible; padding:0; margin:0; border:0; cursor:pointer; background:transparent; color:#333; text-decoration:none;}
.joinContent .joinButton input{ font-weight:bold;}
